* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

#content {
  width: 480px;
  margin: 0 auto;
}

body {
  background-color: #001F3F;
}

.compliment {
  position: relative;
  margin-top: 200px;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center
}

.compliment p {
    font-family: helvetica;
    color: #F012BE;
    font-size: 3.3em;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.compliment:hover {
  cursor: pointer;
}

div {
    font-family: helvetica;
    color: #F012BE;
    font-weight: bold;
}
