* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

#content {
  width: 480px;
  margin: 0 auto;
}

body {
  background-color: #001F3F;
}

.compliment {
  position: relative;
  margin-top: 150px;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center
}

.compliment p {
    font-family: helvetica;
    color: #F012BE;
    font-size: 1.7em;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.compliment:hover {
  cursor: pointer;
}

div {
    font-family: helvetica;
    color: #F012BE;
    font-weight: bold;
}



/*

  COLORS
  Better default colors for the web

*/
/*

   VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/*

   SKINS
   - Backgrounds
   - Colors
   - Border colors
   - SVG fills
   - SVG Strokes

*/
/* Backgrounds */
.bg-navy { background-color: #001F3F; }
.bg-blue { background-color: #0074D9; }
.bg-aqua { background-color: #7FDBFF; }
.bg-teal { background-color: #39CCCC; }
.bg-olive { background-color: #3D9970; }
.bg-green { background-color: #2ECC40; }
.bg-lime { background-color: #01FF70; }
.bg-yellow { background-color: #FFDC00; }
.bg-orange { background-color: #FF851B; }
.bg-red { background-color: #FF4136; }
.bg-fuchsia { background-color: #F012BE; }
.bg-purple { background-color: #B10DC9; }
.bg-maroon { background-color: #85144B; }
.bg-white { background-color: #FFFFFF; }
.bg-gray { background-color: #AAAAAA; }
.bg-silver { background-color: #DDDDDD; }
.bg-black { background-color: #111111; }
/* Colors */
.navy { color: #001F3F; }
.blue { color: #0074D9; }
.aqua { color: #7FDBFF; }
.teal { color: #39CCCC; }
.olive { color: #3D9970; }
.green { color: #2ECC40; }
.lime { color: #01FF70; }
.yellow { color: #FFDC00; }
.orange { color: #FF851B; }
.red { color: #FF4136; }
.fuchsia { color: #F012BE; }
.purple { color: #B10DC9; }
.maroon { color: #85144B; }
.white { color: #FFFFFF; }
.silver { color: #DDDDDD; }
.gray { color: #AAAAAA; }
.black { color: #111111; }
/* Border colors

   Use with another border utility that sets border-width and style
   i.e .border { border-width: 1px); border-style: solid); }
*/
.border--navy { border-color: #001F3F; }
.border--blue { border-color: #0074D9; }
.border--aqua { border-color: #7FDBFF; }
.border--teal { border-color: #39CCCC; }
.border--olive { border-color: #3D9970; }
.border--green { border-color: #2ECC40; }
.border--lime { border-color: #01FF70; }
.border--yellow { border-color: #FFDC00; }
.border--orange { border-color: #FF851B; }
.border--red { border-color: #FF4136; }
.border--fuchsia { border-color: #F012BE; }
.border--purple { border-color: #B10DC9; }
.border--maroon { border-color: #85144B; }
.border--white { border-color: #FFFFFF; }
.border--gray { border-color: #AAAAAA; }
.border--silver { border-color: #DDDDDD; }
.border--black { border-color: #111111; }
/* Fills for SVG */
.fill-navy { fill: #001F3F; }
.fill-blue { fill: #0074D9; }
.fill-aqua { fill: #7FDBFF; }
.fill-teal { fill: #39CCCC; }
.fill-olive { fill: #3D9970; }
.fill-green { fill: #2ECC40; }
.fill-lime { fill: #01FF70; }
.fill-yellow { fill: #FFDC00; }
.fill-orange { fill: #FF851B; }
.fill-red { fill: #FF4136; }
.fill-fuchsia { fill: #F012BE; }
.fill-purple { fill: #B10DC9; }
.fill-maroon { fill: #85144B; }
.fill-white { fill: #FFFFFF; }
.fill-gray { fill: #AAAAAA; }
.fill-silver { fill: #DDDDDD; }
.fill-black { fill: #111111; }
/* Strokes for SVG */
.stroke-navy { stroke: #001F3F; }
.stroke-blue { stroke: #0074D9; }
.stroke-aqua { stroke: #7FDBFF; }
.stroke-teal { stroke: #39CCCC; }
.stroke-olive { stroke: #3D9970; }
.stroke-green { stroke: #2ECC40; }
.stroke-lime { stroke: #01FF70; }
.stroke-yellow { stroke: #FFDC00; }
.stroke-orange { stroke: #FF851B; }
.stroke-red { stroke: #FF4136; }
.stroke-fuchsia { stroke: #F012BE; }
.stroke-purple { stroke: #B10DC9; }
.stroke-maroon { stroke: #85144B; }
.stroke-white { stroke: #FFFFFF; }
.stroke-gray { stroke: #AAAAAA; }
.stroke-silver { stroke: #DDDDDD; }
.stroke-black { stroke: #111111; }
.love {
 /* critical positioning styles */
 position: fixed;
 left: 80%; top: 23px;
 z-index: 2;

 /* non-critical apperance styles */
 height: 40px;
 width:  40px;
 cursor: pointer;
 /*background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");*/
 /* background-image: url("/images/heart.png"); */
 /* background-repeat: no-repeat; */
 background-size: contain;
}

/* Navigation Menu - Background */
.navigation {
 /* critical sizing and position styles */
 width: 100%;
 height: 100%;
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 z-index: 0;

 /* non-critical appearance styles */
 list-style: none;
 background: #67176A;
}

/* Navigation Menu - List items */
.nav-item {
 /* non-critical appearance styles */
 margin-top: 10px;
 width: 200px;
 margin-left: 40px;
 color: #EE13B6;
 /*border-top: 1px solid #111;*/
 /*border-bottom: 1px solid #000;*/
}

.nav-item a {
 /* non-critical appearance styles */
 display: block;
 padding: 1em;
 /*background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);*/
 color: lightblue;
 font-size: 1.2em;
 text-decoration: none;
 transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
 color: white;
 /*background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);*/
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
 /* Critical position and size styles */
 min-height: 100%;
 min-width: 100%;
 background-color: white; /* Needs a background or else the nav will show through */
 position: relative;
 top: 0;
 bottom: 100%;
 left: 0;
 z-index: 1;

 /* non-critical apperance styles */
 padding: 4em;
 /*background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);*/
 background-color: #001F3F;
 background-size: 200%;
}

/* Nav Trigger */
.nav-trigger {
 /* critical styles - hide the checkbox input */
 position: absolute;
 clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
 /* critical positioning styles */
 position: fixed;
 left: 20px; top: 20px;
 z-index: 2;

 /* non-critical apperance styles */
 height: 40px;
 width:  40px;
 cursor: pointer;
 /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>"); */
 /* background-image: url("/images/hamburger.png"); */
 background-image: url("/images/hamburger.svg");
 background-repeat: no-repeat;
 background-size: contain;

}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
 transition: left 0.2s;
}

.nav-trigger:checked + label {
 left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
 left: 200px;
 box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.brand {
    width:  100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 70%;
    background-image: url("/images/brand.svg");
    background-repeat: no-repeat;
}
body {
   /* Without this, the body has excess horizontal scroll when the menu is open */
 overflow-x: hidden;
}

/* Additional non-critical styles */

h1, h3, p {
 max-width: 600px;
 margin: 0 auto 1em;
}

code {
   padding: 2px;
   background: #ddd;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }


/*# sourceMappingURL=app.css.map*/
